<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} {% endblock %}</title>
</head>
<p><a href="{%url 'users:index' %}">вход/выход</a></p>
<body>
{% block body %} {% endblock %}
</body>
</html>