{% extends 'pizza/base_pizza.html' %}
{% block title %} Тесто {% endblock %}

{% block body %}
<h6>Вход как:&#160; {{user.username }} </h6>
    <p><a href="{%url 'pizza:pizzas' %}">Все рецепты</a></p>
<h1> Готовые разновидности теста:</h1>
   {% for dough in doughs %}
   <p><a href="{% url 'pizza:search' %}">Тесто:&#160; {{dough.title_dough}}</a></p>
      <p>{{dough.text_dough}}</p>
      <p>Размер:&#160;{{dough.size_dough}}&#160;см</p>
    <hr>
    {%endfor %}
<h1> Создание нового вида теста:</h1>
<form method="POST">
    {% csrf_token %}
    {{dough_form.as_p}}
    <button type="submit">Опубликовать</button>
</form>
{% endblock %}