{% extends 'pizza/base_pizza.html' %}
{% block title %} Пицца {% endblock %}

{% block body %}
{%if not user.is_authenticated %}
    <h6>Вход выполнен как:&#160; гость. </h6>
    <p><a href="{%url 'users:signup' %}">Регистрация</a></p>
{% else %}
    <h6>Вход выполнен как:&#160; {{user.username }} </h6>
    {% endif %}
<h1>Рецепт пиццы: {{pizza.title_pizza}}</h1>
<p>{{pizza.text_pizza}}</p>
    <p>{% if pizza.image_pizza %}
        <img src="{{ pizza.image_pizza.url }}">
        {% endif %}
    </p>
    <p>От {{pizza.created_pizza|date:"d-m-Y H:i"}}</p>
    <p> Автор: {{pizza.author_pizza.username}}</p>
<hr>
{%if not user.is_authenticated %}
    <p><a href="{% url 'users:signup' %}">Тесто: {{pizza.dough_pizza}}</a></p>
{% else %}
    <p><a href="{% url 'pizza:search' %}">Тесто: {{pizza.dough_pizza}}</a></p>
{% endif %}
      <p>{{pizza.dough_pizza.text_dough}}</p>
      <p>Размер:&#160;{{pizza.dough_pizza.size_dough}}&#160;см</p>
<hr>
{%if not user.is_authenticated %}
    <p><a href="{% url 'users:signup' %}">Соус: {{pizza.sauce_pizza}}</a></p>
{% else %}
    <p><a href="{% url 'pizza:search' %}">Соус: {{pizza.sauce_pizza}}</a></p>
{% endif %}
<p>{{pizza.sauce_pizza.text_sauce}}</p>
<hr>
<p>Добавки:</p>
{% for topping in pizza.topping_pizza.all %}
    {%if not user.is_authenticated %}
        <li><p><a href="{% url 'users:signup' %}"> {{topping}}</a></p>
    {% else %}
        <li><p><a href="{% url 'pizza:search' %}"> {{topping}}</a></p>
    {% endif %}
        <p>{{topping.text_topping}}</p>
     <p>{% if topping.image_topping %}
        <img src="{{ topping.image_topping.url }}">
        {% endif %}
    </p>
        </li>
        {% empty %}
        <p>Нет добавок</p>
{% endfor %}
{%if not user.is_authenticated %}
    <form action="{% url 'users:signup' %}" method='get'>
    <input name ='q' type="text" placeholder="Поиск по топингам..." >
    </form>
{% else %}
<form action="{% url 'pizza:searchTopping' %}" method='get'>
    <input name ='q' type="text" placeholder="Поиск по топингам..." >
</form>
{% endif %}
<p><a href="{%url 'pizza:pizzas' %}">Все рецепты</a></p>
{% endblock %}