{% extends 'pizza/base_pizza.html' %}
{% block title %} Пиццы {% endblock %}

{% block body %}
{%if not user.is_authenticated %}
    <h1>Привет,&#160; Гость. </h1>
    <p><a href="{%url 'users:signup' %}">Регистрация</a></p>
{% else %}
    <h1>Привет,&#160; {{user.username }} </h1>
{% endif %}
{%if user.is_authenticated %}
    <form method="POST">
        {% csrf_token %}
        {{pizza_form.as_p}}
        <button type="submit">Опубликовать</button>
    </form>
    <p><a href="{%url 'pizza:dough'  %}">Добавление нового вида теста.</a></p>
    <p><a href="{%url 'pizza:sauce'  %}">Добавление нового вида соуса.</a></p>
    <p><a href="{%url 'pizza:topping'  %}">Добавление новой добавки.</a></p>
{%else%}
    <form action="{% url 'users:signup' %}" method='get'>
        <input name ='q' type="text" placeholder="Поиск по топингам..." >
    </form>
{% endif %}
{%if user.is_authenticated %}
    <form action="{% url 'pizza:searchTopping' %}" method='get'>
        <input name ='q' type="text" placeholder="Поиск по топингам..." >
    </form>
{% endif %}
<h1>Пиццы:</h1>
{% for pizza in pizzas %}
    <p><a href="{% url 'pizza:pizza' pizza.slug %}"> Рецепт пиццы: {{pizza.title_pizza}}</a></p>
    <p>{{pizza.text_pizza}}</p>
    <p>{% if pizza.image_pizza %}
         <img src="{{ pizza.image_pizza.url }}">
        {% endif %}
    </p>
    <p>От {{pizza.created_pizza|date:"d-m-Y H:i"}}</p>
      <p> Автор: {{pizza.author_pizza.username}}</p>
         <hr>
{%endfor %}

{% endblock %}


