{% extends 'pizza/base_pizza.html' %}
{% block title %} Соусы {% endblock %}

{% block body %}

<h6>Вход как:&#160; {{user.username }} </h6>
    <p><a href="{%url 'pizza:pizzas' %}">Все рецепты</a></p>


<h1> Готовые разновидности соуса:</h1>
   {% for sauce in sauces %}
 <p><a href="{% url 'pizza:search' %}">Соус: {{sauce.title_sauce}}</a></p>
      <p>{{sauce.text_sauce}}</p>
    <hr>
    {%endfor %}
<h1> Создание нового вида соуса:</h1>
<form method="POST">
    {% csrf_token %}
    {{sauce_form.as_p}}
    <button type="submit">Опубликовать</button>
</form>

{% endblock %}