{% extends 'pizza/base_pizza.html' %}
{% block title %} Поиск по топпингам {% endblock %}

{% block body %}
{%if not user.is_authenticated %}
<h6>Вход выполнен как:&#160; Гость. </h6>
    <p><a href="{%url 'users:signup' %}">Регистрация</a></p>
{% endif %}
{%if user.is_authenticated %}
<h6>Вход выполнен как:&#160; {{user.username }} </h6>
{% endif %}
    <p><a href="{%url 'pizza:pizzas' %}">Все рецепты</a></p>


<form action="{% url 'pizza:searchTopping' %}" method='get'>
    <input name ='q' type="text" placeholder="Поиск по топингам..." >
</form>


{% endblock %}


