{% extends 'pizza/base_pizza.html' %}
{% block title %} Результат поиска {% endblock %}

{% block body %}

<h6>Вход как:&#160; {{user.username }} </h6>
<form action="{% url 'pizza:searchTopping' %}" method='get'>
    <input name ='q' type="text" placeholder="Поиск по топингам..." >
</form>
    <p><a href="{%url 'pizza:pizzas' %}">Все рецепты</a></p>
<p>Результат поиска</p>
   {% for pizza in object_list %}

   <p><a href="{% url 'pizza:pizza' pizza.slug %}"> Рецепт пиццы: {{pizza.title_pizza}}</a></p>
              <hr>
         {%endfor %}

{% endblock %}
