{% extends 'pizza/base_pizza.html' %}
{% block title %} Добавки {% endblock %}

{% block body %}
<h6>Вход как:&#160; {{user.username }} </h6>
    <p><a href="{%url 'pizza:pizzas' %}">Все рецепты</a></p>
<h1> Готовые добавки:</h1>
   {% for topping in toppings %}
 <p><a href="{% url 'pizza:search' %}">Добавка:&#160; {{topping.title_topping}}</a></p>
      <p>{{topping.text_topping}}</p>
<p>{% if topping.image_topping %}
        <img src="{{ topping.image_topping.url }}">
        {% endif %}
    </p>
    <hr>
    {%endfor %}
<h1> Создание нового вида теста:</h1>
<form method="POST">
    {% csrf_token %}
    {{topping_form.as_p}}
    <button type="submit">Опубликовать</button>
</form>

{% endblock %}