{% extends "users/base_users.html" %}
{%block body%}
<h1>Вход</h1>
{% if message %}
    <div>
        {{ message }}
    </div>
{% endif %}
<form action="{%url 'users:login' %}" method="POST">
    {% csrf_token %}
    <input name = "username" type="text"/>
    <input name = "password" type="password"/>
    <input type="submit" value="Login"/>
</form>
<p><a href="{%url 'pizza:pizzas' %}">Все рецепты</a></p>
<p><a href="{%url 'users:signup' %}">Регистрация</a></p>

{% endblock %}