{% extends "users/base_users.html" %}
{% block body %}
<ul>
    <li>Вход выполнен как:{{user.username}}</li>
    <li><a href="{% url 'users:logout' %}">Выход</a></li>
</ul>
    <p><a href="{%url 'pizza:pizzas' %}">Все рецепты</a></p>
{% endblock %}
